@charset "UTF-8";
@import "../bootstrap-4.1.3/css/bootstrap.min.css";
@import "../fontawesome-5.13.0/css/all.min.css";
@import "./select2.css";
@import "./bootstrap-datepicker.css";

h1 {
	color: #0000FF;
}

h2 {
	color: #FF0000;
}

footer {
	font-family: fantasy;
	font-weight: 300;
	/* 
	position: fixed;
	 */
}

th {
	font-weight: bold;
	font-family: monospace;
	/* font-variant: small-caps; */
	text-align: left;
}

td {
	font-family: monospace;
	text-align: left;
	padding: 0;
}


.table-responsive {
    display: flex;
    /* width: 100%; */
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.title {
	font-weight: bold;
	font-style: i
}

.m-r-50 {
	margin-right: 50px;
}

.m-l-50 {
	margin-left: 100px;
}

.m-b-20 {
	margin-bottom: 20px;
}

.m-t-10 {
	margin-top: 10px;
}

.m-t-20 {
	margin-top: 20px;
}

.m-t-30 {
	margin-top: 30px;
}

.m-t-50 {
	margin-top: 50px;
}

.p-t-10 {
	padding-top: 10px;
}

.p-r-10 {
	padding-right: 10px;
}

/* .dataTables_filter, .dataTables_info {
	display: none;
} */

.header {
  /* overflow: hidden; */
  background-color: #FFCD00;
  /* padding: 20px 10px; */
  width: 100%;
}